<footer class="footer mt-auto py-2 navbar-light bg-danger">
    <div class="container text-center">
        <p class="text-center mb-2 ">
            &copy; 2004-2022 Hypnos <i class="fa-brands fa-facebook h4 ms-2"></i><i class="fa-brands fa-twitter-square h4 ms-2"></i><i class="fa-brands fa-instagram h4 ms-2"></i><br/>
            <small>Les destinations idéales pour les amoureux </small><br/>
        </p><span class="my-3 text-center"><a href="{{ path('app_cgv') }}">CGV</a> | <a href="{{ path('app_rgpd') }}">RGPD</a></span>
    </div>
</footer>