<footer class="footer mt-auto py-2 navbar-dark bg-secondary">
    <div class="container text-center text-info">
        <p class="text-center mb-2 text-light">
            &copy; 2004-2022 Hypnos <i class="fa-brands fa-facebook h4 ms-2"></i><i class="fa-brands fa-twitter-square h4 ms-2"></i><i class="fa-brands fa-instagram h4 ms-2"></i><br/>
            <small>Les destinations idéales pour les amoureux </small><br/>
        </p><span class="my-3 text-center text-light"><a href="{{ path('app_cgv') }}" class="text-light">CGV</a> | <a href="{{ path('app_rgpd') }}" class="text-light">RGPD</a></span>
    </div>
</footer>