<footer class="footer-custom">

    <p>
        &copy; 2004-2022 Hypnos <br/>
        <small>Les destinations idéales pour les amoureux <br/>
            <span><a href="#">CGV</a> | <a href="#">RGPD</a></span>
        </small>
    </p>

</footer>