<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <p class="text-center">
            &copy; 2004-2022 Hypnos <br/>
            <small>Les destinations idéales pour les amoureux <br/>
                <span><a href="#">CGV</a> | <a href="#">RGPD</a></span>
            </small>
        </p>
    </div>
</footer>