{% extends 'base.html.twig' %}

{% block title %}Edit ImagesSuite{% endblock %}

{% block body %}
    <h1>Edit ImagesSuite</h1>

    {{ include('images_suite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_images_suite_index') }}">back to list</a>

    {{ include('images_suite/_delete_form.html.twig') }}
{% endblock %}
