{% extends 'base.html.twig' %}

{% block title %}New ImagesSuite{% endblock %}

{% block body %}
    <h1>Create new ImagesSuite</h1>

    {{ include('images_suite/_form.html.twig') }}

    <a href="{{ path('app_images_suite_index') }}">back to list</a>
{% endblock %}
