
html{
  font-family: 'Metrophobic', sans-serif;
}

h1 {
  font-family: 'Crimson Pro', serif;
}
h2,h3,h4,h5,h6 {
  font-family: 'Fira Sans Condensed', sans-serif;
}

.form-images label{
  font-size: 1.3rem;
  margin: 10px 0;

}

.vichr_resize_form legend{
  font-size: 1.3rem;
}

.vichr_resize_form label{
  font-size: 1rem;
}

.vichr_resize_form  img {
  max-width: 300px;
  border-radius: 1rem;
  border: 1px solid red;
}

@import "./assets/styles/scss/simplex/_variables.scss";
@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./assets/styles/scss/simplex/_bootswatch.scss";
