{% extends 'base.html.twig' %}

{% block title %}Conditions générales de ventes{% endblock %}

{% block body %}
<h1 class="h1 my-3">
    Conditions générales des ventes
</h1>

    <ul>
        <li><h2 class="h2">Lorem ipsum dolor sit amet.</h2><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at deserunt, dicta dolorem eaque esse facilis
            hic in, ipsum laborum magnam magni nulla odio officia placeat reprehenderit, sequi vitae voluptas! Atque blanditiis
            deleniti, earum eveniet facilis harum hic id laboriosam mollitia pariatur, possimus quae qui rem sequi temporibus, voluptas voluptate?
        </p></li>

        <li><h2 class="h2 mt-2">Lorem ipsum dolor sit amet.</h2><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at deserunt, dicta dolorem eaque esse facilis
                hic in, ipsum laborum magnam magni nulla odio officia placeat reprehenderit, sequi vitae voluptas! Atque blanditiis
                deleniti, earum eveniet facilis harum hic id laboriosam mollitia pariatur, possimus quae qui rem sequi temporibus, voluptas voluptate?
            </p></li>
        <li><h2 class="h2">Lorem ipsum dolor sit amet.</h2><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at deserunt, dicta dolorem eaque esse facilis
                hic in, ipsum laborum magnam magni nulla odio officia placeat reprehenderit, sequi vitae voluptas! Atque blanditiis
                deleniti, earum eveniet facilis harum hic id laboriosam mollitia pariatur, possimus quae qui rem sequi temporibus, voluptas voluptate?
            </p></li>
        <li><h2 class="h2">Lorem ipsum dolor sit amet.</h2><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at deserunt, dicta dolorem eaque esse facilis
                hic in, ipsum laborum magnam magni nulla odio officia placeat reprehenderit, sequi vitae voluptas! Atque blanditiis
                deleniti, earum eveniet facilis harum hic id laboriosam mollitia pariatur, possimus quae qui rem sequi temporibus, voluptas voluptate?
            </p></li>
    </ul>
{% endblock %}
