{% extends 'base.html.twig' %}

{% block title %}Gestion de l’hôtel{% endblock %}

{% block body %}

    <h1>Hello et Bienvenue {{ app.user }}</h1>

    {{ form_start(form) }}

    {{ form_end(form) }}

{% endblock %}
