{% extends 'base.html.twig' %}

{% block title %}Inscription Clients{% endblock %}

{% block body %}
	<div	class="w-50 mx-auto">
		<h1 class="h1 my-5 text-center">Formulaire d’inscription client</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita harum, id itaque iure labore minima nisi placeat
			quod reprehenderit repudiandae sint voluptas? Ad assumenda consequatur ea eaque eum fuga harum illo necessitatibus
			saepe tempora? Accusantium aut debitis illum ipsam laudantium minus nisi nobis quaerat quia voluptate?
			Accusamus ad aliquam asperiores blanditiis deserunt dolore doloribus eaque facere fuga, fugit impedit iste modi nesciunt
			nihil nisi non perspiciatis, provident quae quisquam saepe similique temporibus tenetur totam voluptatibus!</p>
				<div class="mx-auto mt-5">
					{{ form(form) }}
							{% if notification %}
								<div class="alert alert-success"><p>{{ notification }}</p>
								</div>
					{% endif %}
				</div>
	</div>
{% endblock %}
