<form method="post" action="{{ path('app_manager_image_delete', {'id': suite.id}) }}"
      onsubmit="return confirm('Êtes-vous sûrs de supprimer cette image ?');">

    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ suite.id) }}">
    <button class="btn btn-danger btn-sm">Suppression de l’image</button>
</form>
