{% extends 'base.html.twig' %}
{% block title %}Edit Suite{% endblock %}

{% block body %}
  <h1 class="my-5 h1">Editer les suites</h1>

  {{ include('manager_suite/_form.html.twig') }}
<div class="d-flex mb-4">


  <div class="container d-flex my-5">
    <div class="row ">
      {% if suite.images is not empty %}<hr><hr><h2 class="h2 m-3">Images de la suite</h2>
      {% endif %}
  {% for suite in suite.images %}
    <div class="col-md ">
      <div class="card my-2" style="width: 300px;">
        <img class="card-img-top" src="{{ asset('/uploads/'~suite.name) }}" alt="Image suite {{ suite.suite.name }}">
        <div class="card-body text-center">

          {{ include('manager_suite/_delete_images.html.twig') }}

        </div>
      </div>
    </div>
  {% endfor %}
    </div>
    </div>
</div>








  {% block javascripts %}

  {% endblock %}
{% endblock %}
