{% extends 'base.html.twig' %}

{% block title %}Gestion de l’hôtel{% endblock %}

{% block body %}

 <h1 class="h1 my-5">Aucun Hôtel ne vous est encore assigné, merci de patienter quelques minutes</h1>

{%  endblock %}